numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
torch
torchinfo
pymongo
black
ccxt
python-dotenv
ipython
ipykernel
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability