numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
torch
torchinfo
pymongo
black
ccxt
python-dotenv
ipython
ipykernel
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability