numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
torch
torchinfo
pymongo
black
ccxt
python-dotenv
ipython
ipykernel
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability